body {
    margin:0;
    padding:0;
    display:block;
    height:100%;
    background-color:#000;
}

header {
    width:100%;
    margin:0;
    padding:10px 0 10px 0;
    background: -moz-linear-gradient(-90deg,#003471,#448CCB);
    background: -webkit-gradient(linear, left top, left bottom, from(#003471), to(#448CCB));
    
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
}

header h1 {
    margin:0;
    text-align:center;
    line-height:50px;
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
    font-size: 2em;
    color: #fff;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    height:60px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

header button {
    border:none;
    height:60px;
    width:100px;
    background:none;
    -webkit-box-flex: .5;
    -moz-box-flex: .5;
    box-flex: .5;
}

header button img {
    width:48px;
    opacity:.7;
}

img#refresh {
   opacity:0; 
}

#pics {
    background:#fff;
    padding:5px 0 0 0;
    text-align:center;
}

.pic {
    border:5px solid #fff;
    margin:0;
    padding:0
}

#fileselect {
    font-size:5em; /*hacky, to get height for FF*/
    opacity:0;
    background:#eaeaea;
    border:1px solid #eaeaea;
    padding:5px;
    position:absolute;
    right:0;
    top:0;
    width:150px;
    height:65px;

}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}
.loading {
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
